version: "3.9"

services:
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    env_file:
      - ./api-gateway/.env

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "8081:8081"
    env_file:
      - ./auth-service/.env

  blog-service:
    build: ./blog-service
    container_name: blog-service
    ports:
      - "8082:8082"
    env_file:
      - ./blog-service/.env
    depends_on:
      - auth-service

  comment-service:
    build: ./comment-service
    container_name: comment-service
    ports:
      - "8083:8083"
    env_file:
      - ./comment-service/.env
    depends_on:
      - blog-service
