server:
  port: 8080

jwt:
  secret: ${JWT_SECRET}

management:
  endpoints:
    web:
      exposure:
        include: health

spring:
  application:
    name: api-gateway
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.reactive.ReactiveSecurityAutoConfiguration
      - org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
      - org.springframework.boot.autoconfigure.security.oauth2.resource.reactive.ReactiveOAuth2ResourceServerAutoConfiguration


  cloud:
    gateway:
      routes:
        # -------- Auth Service --------
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**
          filters:
            - RewritePath=/api/auth/(?<segment>.*), /${segment}

        # -------- Blog Service --------
        - id: blog-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/blog/**
          filters:
            - RewritePath=/api/blog/(?<segment>.*), /${segment}

        # -------- Comment Service --------
        - id: comment-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/comments/**
          filters:
            - RewritePath=/api/comments/(?<segment>.*), /${segment}
