name: API Gateway - MAIN CI

on:
  push:
    branches:
      - main
    paths:
      - "api-gateway/**"

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Build and run tests
        working-directory: api-gateway
        run: ./mvnw clean test

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./api-gateway
          push: true
          tags: |
            yakshith15/api-gateway:latest
            yakshith15/api-gateway:${{ github.sha }}
