name: Blog Service - MAIN CI

on:
  push:
    branches:
      - main
    paths:
      - "blog-service/**"

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Run tests
        working-directory: blog-service
        run: go test ./...

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./blog-service
          push: true
          tags: |
            yakshith15/blog-service:latest
            yakshith15/blog-service:${{ github.sha }}
